<%= form_with model: @transaction, url: withdraw_transactions_path, local: true do |f| %>
  <div>
    <%= f.label :amount %>
    <%= f.number_field :amount, required: true, min: 0.01, max: 10000, step: 0.01 %>
  </div>
  <div>
    <%= f.submit "Withdraw" %>
  </div>
<% end %>
