<%= form_with model: @transaction, url: withdraw_transactions_path, local: true do |f| %>
  <div>
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>
  <div>
    <%= f.submit "Withdraw" %>
  </div>
<% end %>
